* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===== HEADER ===== */
header {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.icones-header {
  display: flex;
  gap: 30px;
}

header div:first-child img {
  height: 60px;
}

header nav {
  display: flex;
  gap: 60px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

header nav a:hover {
  color: #e60000;
  transition: 1s;
}

/* ===== MAIN ===== */
main {
  max-width: 900px;
  margin: 40px auto 40px 80px;
  padding: 0 10px;
}

h2 {
  font-weight: bold;
}

/* Card notícia principal */
main>section>article:first-child {
  background-color: #000;
  color: white;
  padding: 60px;
  border-radius: 20px;
  max-width: 2000px;

}


main>section>article:first-child h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

main>section>article:first-child li {
  margin-bottom: 10px;
}

/* ===== GRID DOS CARDS ===== */
main section div,
main>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 40px;
}

/* ===== TODOS OS CARDS ===== */
article {
  background-color: hsl(0, 0%, 81%);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* IMAGENS PADRONIZADAS - TAMANHO DE TODAS */
article img {
  width: 100%;
  height: 180px; /* altura */
  object-fit: cover; /* corta sem distorcer */
  border-radius: 10px;
  
}

/* TÍTULOS */
article h3,
article h4 {
  margin: 12px 0;
  font-size: 16px;
  
}

/* LISTAS ALINHAMENTO */
article ul {
  padding-left: 18px;
}

/* ===== BOTÃO ===== */
button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.cards-lado-a-lado {
  margin-left: 900px;
  margin-top: -1155px;
  border-right: 1px solid black; /* ===== LINHA PRETA ===== */
   padding: 0px 0px;
}

.cards-lado-a-lado section {
  display: flex;
  gap: 24px;
}

.cards-lado-a-lado article {
  flex: 0 0 340px;
}

.cards-lado-a-lado img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}


#botão-saiba-mais-como-configurar {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 6px 40px;
  border-radius: 5px;
}

.cards-lado-a-lado-2 {
  margin-left: 900px;
  width: calc(340px * 2 + 24px);
  display: flex;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: white;
  margin-top: 800px;
}